<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA COmpatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Knowledge Masters</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/stylesheets/style.css">

</head>
<body>
    <div class="header">
            <div class="top-nav">
                <ul>
                    <li><a href="/home.html/">HOME</a></li>
                    <li><a href="/home.html/addorders.html/">ADD NEW ORDER</a></li>
                    <li><a href="/home.html/tickets.html/">MANAGE ORDERS</a></li>
                </ul>
                <a href="/home.html/help.html">
                <button>HELP</button>
                </a>
            </div>

            <div class="side-nav">
                <img src = "/static/stylesheets/images/logo.png" class="logo">
                <a href="#">KNOWLEDGE MASTERS</a>
            </div>
            <div class="text-box">
                <h1> SUPPORT</h1>
                <p> This website is a demo version of a commerical management tool for a business named Knowledge Masters</p>
                <p> 1. When adding a new order, add anything in the order id box (it automatically places an unique id)</p>
                <p> 2. In the minimal chance of having an error "Databse Locked" just restart the whole program</p>
                <p> 3. The program is not yet adaptive in its resolution |its still in development|</p>
                <p> 4. Sir in the small chance that you are reading this. WISHING U BEST IN UR PHD PROGRAM</p>
                <dic class="icon">
                </dic>
            </div>
            <div class="pictureback">
            </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>